<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/static/styles/start.css">
</head>

<body>
    <div class="container">
        <h1>Вітаю, бажаєш пройти тест?</h1>
        <button class="yes-btn" id="start-btn">Так</button>
    </div>

    <script>
        document.getElementById('start-btn').addEventListener('click', () => {
            window.location.href = '/quiz';
        });
    </script>
</body>

</html>